# ignore result txt files
result/*

# ignore image files
images

# ignore local saved models
saved_models/*
model_data.pkl

# ignore Anyburl large files
AnyBurl/*

# ignore training & testing files
logs
kbc/data
.Trash-0/*
kbc/src_data/
kbc/src_data/FB237/original/MSR-LA_Data_Full Rights_FB15K-237 Knowledge Base Completion Dataset (2650).docx
kbc/src_data/FB237/original/text_cvsc.txt
kbc/src_data/FB237/original/text_emnlp.txt

# ignore jupyter lab and notebook scripts
.ipynb_checkpoints/
kbc/.ipynb_checkpoints/
kbc/__pycache__/
Untitled.ipynb
test_clamp.ipynb
